html, body {
  font-family: 'Open Sans', sans-serif !important;
  	background-color: #fff;
}

/*Cards*/

.card-lesson > .mdl-card__menu {
  color: #fff;
}

.card-lesson {
  margin: 10px;
  min-width:200px;
  min-height: 100px;
}
.card-lesson > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.card-lesson > .mdl-card__title {
   color: #fff;
  height: 176px;
 
  align-items: flex-start;
  	background-color: #0D9789;
}

.card-lesson > .first-launch{
  background: url('../images/bags.jpg') center / cover;
}
.card-lesson > .incentive-programme{
   background: url('../images/cash.jpg') center / cover;
}

.card-lesson > .mdl-card__title > h4 {
  margin-top: 0;
}
.card-lesson > .mdl-card__supporting-text > .mdl-card__title-text
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.card-lesson > .mdl-card__supporting-text{
   
   color: #0D4D40;
  background-color: #80C8C2;
   width: 100%;
  
}
.card-lesson > .mdl-card__title,  .card-lesson > .mdl-card__actions, .card-lesson > .mdl-card__actions > .mdl-button {
  color: #fff;
  	background-color: #0D9789;
 
}

.card-lesson > .mdl-card{
	 padding-top: 25px;
   	background-color: #0D9789;
}

#recycling-centre{
  width: 100vw;
  height: 30vh;
   background: url('../images/bag.jpg');
   background-size: 100px 82px;
position: fixed;
 
  align-items: flex-start;
  	background-color: #0D9789;
}

#incentative-programme
{
  background-color: #80C8C2;
 
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(../images/logo.svg);
  background-size: 100px 82px;
}

.demo-avatar {
  width: 40px;
  height: 40px;
}
.demo-layout .demo-header .mdl-textfield {
  padding-top: 27px;
}

.mdl-layout {
  align-items: center;
  justify-content: center;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.mdl-layout__header {
	background-color: #0D9789;
	color: #FFF;
}

.mdl-layout-title
{
  	background-color: #0D9789;
	color: #FFF;
  font-family: 'Open Sans', sans-serif;
   /*align-items: center;*/
  /*justify-content: center;*/
}
.mdl-layout__drawer-button {
	background-color: #FFF;
	color: #FFF;
}
.mdl-navigation {
	font-size: 30px;
	text-transform: uppercase;
	background-color: #0D9789;
	color: #FFF;
}

.mdl-layout-title
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
	color: #fff;
  text-transform: uppercase;
  background-color: #0D9789;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
  height: 56px;
}


.demo-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  color: #fff;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.mdl-navigation__link{
  font-size: 18px;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #80C8C2;
  color: #fff;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 30px;
  margin-right: 32px;
  color: #fff;
}

.demo-content {
  max-width: 1080px;
}

#about{
  background-color: #80C8C2;
  color: #0D4D40;
}

#how-to{
  background-color: #80C8C2;
  color: #0D4D40;
}

#how-to > .mdl-button{
  color: #FFF;
}

.page-content{
 padding: 10px;
}

/*#contact{
  background-color: #80C8C2;
  color: #0D4D40;
}*/



