{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- Icons and Theme -->
<link rel="apple-touch-icon" sizes="180x180" href="assets/css/icons/apple-touch-icon.png?v=20230320">
<link rel="icon" type="image/png" sizes="32x32" href="assets/css/icons/favicon-32x32.png?v=20230320">
<link rel="icon" type="image/png" sizes="16x16" href="assets/css/icons/favicon-16x16.png?v=20230320">
<link rel="manifest" href="assets/css/icons/site.webmanifest?v=20230320">
<link rel="mask-icon" href="assets/css/icons/safari-pinned-tab.svg?v=20230320" color="#5bbad5">
<link rel="shortcut icon" href="assets/css/icons/favicon.ico?v=20230320">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="assets/css/icons/browserconfig.xml?v=20230320">
<meta name="theme-color" content="#ffffff">
