<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  <!-- Nav -->
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/lists"><li>Lists</li></a>
        <a href="/blog"><li>Blog</li></a>
      </ul>
    </div>
  </nav>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
